@import 'variables';
@import 'bootstrap/bootstrap';
@import 'base/*';

body {
    font-family: 'Montserrat', $font-family-base;

    &.wf-active {
        font-family: $font-family-base;
    }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

@import 'components/*';
